body{
    margin: 0px;
    text-align: center;
}
.topdiv{
    background-color:#eaf6f6;
    text-align: center;
    padding-top: 50px;
}
.cloud1{
    position: absolute;
    right: 400px;
    top: 30px;
}
.cloud2{
    position: absolute;
    left: 350px;
}
h1{
    font-family:Dancing Script ;
    font-size: 562.5%;
    color: #66bfbf;
    line-height: 2;
}
h2{
    font-family: Rubic Maze ;
    font-size: 30px;
    color: #66bfbf;
    font-weight: normal;
}
h3{
    color: #11999E;
    padding: 10px;
}
.span1{
    font-family: Rubiik Maze ;
    text-decoration: underline;
}
a{
    color: #11999E;
    padding: 10px;
    font-weight: 700px;

}
.skillsrow{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding:30px;
    font-weight: bold;

}
.skill1pic{
    border-radius: 200px;
    width:25%;
    float: left;
    margin-right: 30px;
}
.skill2pic{
    border-radius: 200px;
    width: 25%;
    float: right;
    margin-left:30px ;
}
.profilepic{
    border-radius: 200px;
}
.skilltext1{
    line-height: 1.5;
}
.skilltext2{
     line-height:1.5;
}
.skills{
    line-height: 1.5;
}
.profile{
    font-weight: bold;
    width: 30%;
    margin:70px auto 70px auto;
} 
p{
    color: #40514e;
    padding: 10px;
    line-height: 2;
}
hr{
    border-top: 9px dotted #eaf6f6;
    width: 5%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 50px auto 50px auto;
}
.contactme{
    padding: 50px;
    line-height: 2;
    font-weight: 700;
    width: 50%;
    margin: auto;
}
.botdiv{
    line-height:2 ;
    background-color: #66bfbf;
    padding: 30px 0px 0px   ;
    margin-bottom: 0px;
}
.footpara{
    color: #eaf6f6;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }